@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.App {
  overflow: hidden;
  height: 100vh;
}

.App-editor {
  text-align: left;
  height: calc(100vh - 65px);
  font-family: 'Roboto Mono', monospace;
}
